@font-face {
    font-family: Gotham ProLight;
    src: url(recursos/fonts/GothamPro-Light.ttf);
}

@font-face {
    font-family: Gotham ProMedium;
    src: url(recursos/fonts/GothamPro-Medium.ttf);
}

@font-face {
    font-family: Gotham ProBlack;
    src: url(recursos/fonts/GothamPro-Black.ttf);
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

p {
    font-size: 6rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.style {
    text-align: center;
    height: 100%;
    background-image: url(recursos/images/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.title {
    position: relative;
    padding-top: 5%;
}

.anio {
    margin-top: -2%;
    color: #706f72;
    font-size: 22.778pt;
    font-family: Gotham ProLight;
}

.info {
    font-family: Gotham ProLight;
    color: #706f72;
    font-size: 106.942pt;
}

.anual {
    font-family: Gotham ProBlack;
    font-size: 110.331pt;
    color: #e62730;
}

.lines {
    background-color: #e62730;
    width: 200px;
    height: 2px;
}

.home {
    background-color: #ffffff;
}

i {
    position: absolute;
    right: 50px;
    font-size: 3rem;
    color: #e62730;
    padding: 1rem;
}

a {
    font-family: Gotham ProMedium;
    text-decoration: none;
    font-weight: 700;
    font-size: 4rem;
    color: #ffffff;
    transition-duration: 0.3s;
    opacity: 0.8;
    padding: 2rem;
    letter-spacing: 0.4rem;
}

a:hover {
    position: relative;
    color: #e62730;
    opacity: 1;
    text-shadow: 0px 0px 5px #e62730;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
}

ul {
    padding: 0;
    line-height: 5rem;
    text-align: right;
}

navigation {
    background: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: top right;
    z-index: 998;
}

.menu-close {
    transform: scale(0.01);
    opacity: 0;
}

div.toggle {
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 999;
}

@media only screen and (max-width: 768px){
    .anio{
        margin-top: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .info {
        font-size: 70px;
    }
}

@media only screen and (max-width: 768px) {
    .anual {
        font-size: 80px;
    }
}

@media only screen and (max-width: 768px) {
    .style {
        width: 100%;
    }
}

@media only screen and (max-width: 1280px){
    a {
        font-size: 40px;
    }
}
@media only screen and (max-width: 768px) {
    a {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    navigation {
        overflow: scroll;
    }
}
@media only screen and (max-width: 768px) {
    navigation {
        overflow: scroll;
    }
}