@font-face {
    font-family: Gotham ProLight;
    src: url(recursos/fonts/GothamPro-Light.ttf);
}

@font-face {
    font-family: Gotham ProMedium;
    src: url(recursos/fonts/GothamPro-Medium.ttf);
}

@font-face {
    font-family: Gotham ProBlack;
    src: url(recursos/fonts/GothamPro-Black.ttf);
}
@font-face {
    font-family: Gotham ProRegular;
    src: url(recursos/fonts/GothamPro.ttf);
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

.t1{
    font-family: Gotham ProRegular;
    font-size: 6rem;
}

.t2{
    font-family: Gotham ProBlack;
    font-size: 6rem;
    color: #e5262f;
}

.line{
    background-color: #e5262f;
    height: 2px;
    width: 550px;
}

.t3{
    font-family: Gotham ProRegular;
    font-size: 3rem;
    color: #706f72;
}

.t4{
    font-family: Gotham ProBlack;
    font-size: 3rem;
    color: #e5262f;
}